<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-10">
            <div class="card mt-5">
                <div class="card-header">
                    <h3>All Users</h3>
                </div>
                <div class="card-body">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Name</th>
                                <th>Role</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td>Tes</td>
                                <td>User</td>
                                <td>
                                    <a href="/edit-user/1" class="btn btn-warning btn-sm">Edit</a>
                                    <a href="/delete-user/1" class="btn btn-danger btn-sm">Delete</a>
                                </td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>Tes</td>
                                <td>User</td>
                                <td>
                                    <a href="/edit-user/1" class="btn btn-warning btn-sm">Edit</a>
                                    <a href="/delete-user/1" class="btn btn-danger btn-sm">Delete</a>
                                </td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td>Tes</td>
                                <td>User</td>
                                <td>
                                    <a href="/edit-user/1" class="btn btn-warning btn-sm">Edit</a>
                                    <a href="/delete-user/1" class="btn btn-danger btn-sm">Delete</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
